
.Card{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
    gap:10px;
    margin: 4px;
    transition: 250ms ease-in;
}

.Card:hover{
    background-color: rgba(128, 0, 128,0.2);
}
.title{
    display: flex;
    gap: 5px;
    
}
.title-value{
    text-align: left;
}
.emoji-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.Card h2{
    font-size: 18px;
}
.title-value{
    font-weight: 400;
}
.emoji{
    font-size: larger;
}
.copied{
    background-color: rgba(0, 128, 0,0.7);
}

@media screen and (max-width:430px) {

    .Card{
        flex-basis: 100%;
    }

}