.main-container{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.left-container{
  order: -1;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}